*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import './Mixin';
.ButtonSuccess{
  @include Button();
 
 
}
.ButtonCreate{
    @include Button(none);
  padding: 10px
}
.ButtonDelete{
    @include Button(none,red,white);
}
.ModalDelete{
    @include Button(100%,red,white);
}
.ButtonUpdate{
    @include Button(none,green,rgb(255, 255, 255));
}
.SpinnerWhite{
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.GlavniSketel{
    width: 100%;
    min-height: calc(100vh - 60px);
    @include DisplayFlex(10px,space-between,flex-start);
    position: relative;
    &>div:nth-child(1){
        width: 300px;
       
    }
    &>div:nth-child(2){
        width: 100%;
        height: calc(100vh - 120px);
        padding-top: 15px;
        overflow-y: scroll;
        margin-top: 65px;
        &::-webkit-scrollbar{
            display: none
        }
    }
}
.DeleteUpdateDiv{
    @include DisplayFlex();
    &>button{
        padding: 10px;
    }
}
.ControlPageNavbar{
    @include DisplayFlex(10px,space-between);
    padding: 20px;
    position: absolute;
    top: 0px;
    width: calc(100% - 267px);
}
.CreatetUzRuEn{
    width: 100%;
    @include DisplayFlex(10px,space-between);
    padding: 10px 0px;
    &>input{
        font-weight: 600;
    }
}